@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {/* 
  font-family: "Roboto", sans-serif; */
  font-family: 'Playwrite US Modern', sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 50px auto 50px;
  grid-template-areas: "hd hd hd hd hd hd hd hd hd" 
                       "mn mn mn mn mn mn mn sb sb "
                       "ft ft ft ft ft ft ft ft ft ";
  column-gap: 0.5rem;
}

.el{
  background-color: rgb(247, 219, 224);
  display: grid;
  place-content: center;
}

.header{
  grid-area: hd;
}

.sidebar{
  grid-area: sb;
  background-color: blanchedalmond;
}

.footer{
  grid-area: ft;
}
.container{
  grid-area: mn;
  min-height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr 2fr);/*200px 1fr 1fr;*/
  grid-auto-rows: minmax(150px, auto);
  gap: 1em;
}
.box {
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem;
}

.box:first-child{
  background-color: beige;
  color: black;
  grid-column: 1  / 4;
  grid-row: 1/ 3;

  display: grid;
  place-content: center;/* 
  align-content: center;
  justify-content: center; */
  /* 
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4; */
}
.box:nth-child(2){
  background-color: purple;
  grid-column: 1/5;
  grid-row: 3/4
}




