@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playwrite US Modern', sans-serif;
  min-height: 100vh;
  padding: 20px;
}

.container {
  max-width: 800px;
  min-height: 400px;
  margin-inline: auto;
  border: 1px solid #000000;
  display: flex;
  gap: 1rem;
  
  justify-content: center; /*Horizontal*/
  align-items: center; /*Vertical*//* 
  flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  align-content: center;
} 

.box {
  /* min-width: 100px; */
  height: 100px;
  background-color: #000000;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem;
  
  display: flex;
  justify-content: center;
  align-items: center;

  flex-basis: 150px; }
  /* 
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 150px; 
  flex: 1 1 150px;
}


.box:nth-child(2){
  flex: 2 2 150px;
  order: 1;
}
*/