@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || GENERAL STYLES */
body {/* 
  font: 1.5rem "Nunito", sans-serif; */
  font: 1.4rem 'Playwrite US Modern', sans-serif;
  min-height: 100vh;

  background-color: #475569;
  background-image: url("https://i.pinimg.com/736x/a3/4f/47/a34f47eef59f36826a87a76b7e8a7572.jpg");
  display: flex;
  flex-direction: column;
}

header,
nav,
main,
footer {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
}

header,
footer {
  position: sticky;
  background-color: #050505;
  color: whitesmoke;
}

header {
  top: 0;
}

nav {
  background-color: #fff;
  color: #000;
  padding: 0.5rem;
  border-bottom: 2px solid #000;
}

h1{
  padding: 10px;
}
.links{
  padding-left: 2rem;
  color: rgb(0, 0, 0);
}
main {
  flex-grow: 1;
  display: grid;
  
}

footer {
  bottom: 0;
}

.card{
  place-self: center;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  min-width: 100vh;
  padding: 2rem;
  display: grid;
  justify-content: center;
  width: 80%;
  margin: 1.5rem;
}

.pfp{
  border: double 5px;
  border-radius: 50%;
  width: 100%;
}
/* || SMALL */
@media screen and (min-width: 576px) {/* 
  body {
    background-color: green;
    background-image: radial-gradient(whitesmoke, green);
  }
  nav {
    display: none;
  } */
}

/* || MEDIUM */
@media screen and (min-width: 768px) {/* 
  body {
    background-color: gold;
    background-image: radial-gradient(whitesmoke, gold);
  } */
}

/* || LARGE */
@media screen and (min-width: 992px) {/* 
  body {
    background-color: firebrick;
    background-image: radial-gradient(whitesmoke, firebrick);
  } */
}

/* || XL  */
@media screen and (min-width: 1200px) {/* 
  body {
    background-color: rebeccapurple;
    background-image: radial-gradient(whitesmoke, rebeccapurple);
  } */
}

/* || MOBILE DEVICE LANDSCAPE  */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {/* 
  body {
    background-color: dodgerblue;
    background-image: radial-gradient(whitesmoke, dodgerblue);
  } */

  h1,
  h2 {
    font-size: 1.5rem;
  }

  nav {
    display: none;
  } 
}
